/*---------------------ROOTS---------------------*/
:root {
  --realyDarkPlum: #271A2E;
  --darkPlum: #2F2435;
  --lightPlum: #3A2D3E;
  --lightText: #B3B3B5;
  --green: #35D827;
  --orange: #fc4837;
  --pink: #d82793;
}
/*---------------------FONTS---------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Thasadith', sans-serif;
}

body, p, span, a, figcaption, label, input {
  font-family: 'Raleway', sans-serif;
}

a{
  transition: all 0.3s ease-out;
}
/*---------------------GENERALS---------------------*/
.bg-realyDarkPlum {
  background-color: var(--realyDarkPlum);
}

.bg-darkPlum {
  background-color: var(--darkPlum);
}

.bg-lightPlum {
  background-color: var(--lightPlum);
}

.bg-lightPlum {
  background-color: var(--lightPlum);
}

.lightText {
  color: var(--lightText);
}

.greenText {
  color: var(--green);
}

.orangeText {
  color: var(--orange);
}

.pinkText {
  color: var(--pink);
}

a:hover {
  color: var(--green);
}

.border-orange {
  border-color: var(--orange) !important;
}

/*---------------------PAGE---------------------*/

/*header*/
#divPictureFG {
  position: relative;
  perspective: 100px;
}

header img{
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.3s ease-in-out;
}

/*nav*/
nav .navbar-toggler {
  background-color: var(--lightText);
  border: 1px solid var(--orange);
  color: var(--orange);
}

nav .navbar-toggler-icon{
  color: var(--orange);
}

nav .navbar-toggler-icon i{
  font-size: 1.8rem;
}

/*footer*/
footer .list-group-item {
  color: inherit;
  background-color: transparent;
}

footer a {
  text-decoration: none;
  color: var(--lightText);
}

/*projects*/
.technoBox {
  width: fit-content;
}

.projectCard{
  box-shadow: 0px 0px 0px 0px transparent;
  transition: all 0.3s ease-in-out;
}

.projectCard:hover{
  box-shadow: 0px 0px 3px 0px var(--green);
}

.linkToCard{
  text-decoration: none;
}

/*---------------------RESPONSIVE---------------------*/

@media screen and (min-width: 768px) {
  header img{
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  header img:hover{
    transform: rotateY(10deg);
  }
}