/*---------------------ROOTS---------------------*/
:root {
  --darkPlum: #2F2435;
  --lightPlum: #3A2D3E;
  --ligntText: #B3B3B5;
  --green: #35D827;
  --orange: #fc4837;
  --pink: #d82793;
}
/*---------------------FONTS---------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Thasadith', sans-serif;
}

body, p, span, a, figcaption, label, input {
  font-family: 'Raleway', sans-serif;
}
/*---------------------GENERALS---------------------*/


/*---------------------PAGE---------------------*/
